.trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
  
.star-icon{
    vertical-align: bottom;
    color: yellow;
  
}

.search {
    display: flex;
    margin: 15px 0;
}
  

.mymodal{
    display: "flex";
    align-items: "center";
    justify-content: "center";
  }